*           text=auto

# These files are text and should be normalized (convert crlf to lf)
*.rs              text
*.txt             text
*.yml             text
*.toml            text
*.md              text
meson.build       text
